* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  margin: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 100px); */
  grid-template-rows: repeat(3, 1fr);
  gap: 15px 30px;
}

.item {
  padding: 1em;
}

.item--1 {
  background-color: #959595;
}

.item--2 {
  background-color: #bbb;
}

.item--3 {
  background-color: #777;
}

.item--4 {
  background-color: #d8d8d8;
  height: 100px;
}
